# After AWS deploy-control.sh, use the printed API Gateway URL:
VITE_SIGEO_MAP_API_BASE=https://lfvy5sv7gj.execute-api.eu-south-1.amazonaws.com
# Local docker API instead:
# VITE_SIGEO_MAP_API_BASE=http://localhost:8092
